@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

body {
    overflow: hidden;
}

.contenedor {
    display: flex;
}

.contenedor::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(arcoiris.png) 900px 600px no-repeat;
    transform: rotate(30deg);
}

.firma {
    font-family: 'Whisper', cursive;
    font-size: 64px;
}


.prueba {
    background-color: yellow;
    overflow: hidden;
}